body {
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
}

.wrap {
  display: flex;
  justify-content: space-around;
}

.wrap > .center {
  width: 320px;
  position: relative;
}

img.menu-toggle {
  float: right;
  cursor: pointer;
  margin-top: 3px;
}

.hidden {
  display: none;
}

ul.menu {
  position: absolute;
  top: 27px;
  right: 0px;
  margin: 0;
  list-style: none;
  background: #fff;
  padding: 8px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 2px #eee;
  z-index: 1;
}

ul.menu > li {
  padding: 5px;
}
ul.menu > li:not(:last-child) {
  margin-bottom: 10px;
}

ul.menu > li.item:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}
ul.menu > li.item.selected {
  background-color: #eee;
}

h1,
h2,
select,
input.choose-station,
ul.station-menu {
  font-size: 24px;
  font-weight: normal;
}

h1 {
  margin: 0px;
}

h2 {
  background-color: #eee;
  padding: 8px;
  border-radius: 5px;
  margin: 20px 0px 10px -8px;
}

select,
input.choose-station {
  margin-top: 30px;
  background-color: #eee;
  border: none;
  border-radius: 5px;
  border: 1px solid #000;
}

input.choose-station {
  padding: 0px 8px;
  cursor: default;
  line-height: 1.5;
}

.input-search {
  position: absolute;
  top: 37px;
  right: 8px;
  pointer-events: none;
  background-color: #eee;
  padding-left: 8px;
}

.station-input-wrap,
.station-menu-wrap {
  position: relative;
}

ul.station-menu {
  top: 0px;
  left: 0px;
  height: 400px;
  overflow: auto;
}

.station-home-link {
  display: block;
}

.latest-temp {
  display: flex;
}

.latest-temp > :nth-child(1) {
  flex-basis: 33%;
  flex-grow: 1;
}
.latest-temp > :nth-child(2) {
  flex-basis: 66%;
}

.station-error.no-error {
  display: none;
}

.temp-range {
  display: flex;
  justify-content: space-between;
}

.temp-range > .temp-display {
  display: inline-block;
}

.temp-value {
  font-size: 36px;
}

.temp-units.us::after {
  content: "\2109";
}

.temp-units.metric::after {
  content: "\2103";
}

.temp-caption {
  display: block;
}

select,
input.choose-station,
ul.station-menu {
  width: 328px;
  margin-left: -8px;
  box-sizing: border-box;
}
