.station-link {
  display: block;
}

.temp-range > .temp-display {
  width: 30vw;
  display: inline-block;
}

.temp-value {
  font-size: 2em;
}

.temp-units.us::after {
  content: "\2109";
}

.temp-units.metric::after {
  content: "\2103";
}

.temp-caption {
  display: block;
}
